/* https://tailwindcss.com/docs/guides/nextjs */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://fonts.google.com/specimen/Oswald#standard-styles */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;1,300&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Sarabun:wght@600;700;800&display=swap');
@font-face {
  font-family: 'Solari';
  src: url('../public/images/Solari.woff2') format('woff2'),
      url('../public/images/Solari.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* svg {
  display: inline;
} */

.logo-text {
  /* font-family: 'Solari'; */
  font-family: 'Sarabun';
  font-weight: 700;
  font-size: 35px;
}

.section-title {
  font-family: 'Solari';
  /* font-family: 'Sarabun'; */
  color: black !important;
  background-color: white;
  font-size: 25px;
  margin-bottom: 10px;
  display: inline !important;
  text-transform: uppercase;
}

/* .extra-text {
  display: inline-block;
  background-color: black;
  padding: 10px 10px 5px 10px;
} */

.post-card-title {
  font-family: 'Sarabun';
  font-weight: 700;

  font-size: 21px;
  margin-top: -4px;
  vertical-align: text-top;
}

.logo-text-finish {
  font-family: 'Sarabun';
  /* font-family: 'Solari'; */
  /* color: white !important; */
  font-size: 35px;
}

.logo-badge {
  transform: rotate(90deg);
  margin-left: 5px;
  margin-right: 5px;
  transition: transform 0.35s linear;
}

.logo-badge-rotated {
  /* transform: rotate(270deg); */
  -webkit-transform: rotate3d(0,1,0,180deg);
  margin-left: 5px;
  transition: transform 0.35s linear;
}

h1 {
  font-family: 'Sarabun';
  font-weight: 700;
}

h2,h3,h4,h5,h6 {
  margin: 0;
  font-size: 12px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Merriweather';
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 15px;
}

.next-link, a {
  cursor: pointer;
}

.post-card-description {
  min-height: 90px;
  font-family: 'Inconsolata', monospace;
  padding-bottom: 15px;
}

.post-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.teaser-description {
  font-family: 'Merriweather';
  font-style: italic;
}

/**
 * Blockquotes
 */
 blockquote {
  color: gray;
  border-left: 4px solid gray;
  padding-left: 20px;
  /* @include relative-font-size(1.125); */
  font-size: 14px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

ol, ul {}

a {

  text-decoration: none;
}

* {
  box-sizing: border-box;
}

